Assignment1/TemperatureApplication/TemperatureConversionWindowsForm/Service References/TemperatureConversionWindowsNamespace/TemperatureConversionWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="c2f">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="c2fResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="c2fResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="f2c">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="f2cResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f2cResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="c2fSoapIn">
    <wsdl:part name="parameters" element="tns:c2f" />
  </wsdl:message>
  <wsdl:message name="c2fSoapOut">
    <wsdl:part name="parameters" element="tns:c2fResponse" />
  </wsdl:message>
  <wsdl:message name="f2cSoapIn">
    <wsdl:part name="parameters" element="tns:f2c" />
  </wsdl:message>
  <wsdl:message name="f2cSoapOut">
    <wsdl:part name="parameters" element="tns:f2cResponse" />
  </wsdl:message>
  <wsdl:portType name="TemperatureConversionWebServiceSoap">
    <wsdl:operation name="c2f">
      <wsdl:input message="tns:c2fSoapIn" />
      <wsdl:output message="tns:c2fSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="f2c">
      <wsdl:input message="tns:f2cSoapIn" />
      <wsdl:output message="tns:f2cSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TemperatureConversionWebServiceSoap" type="tns:TemperatureConversionWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="c2f">
      <soap:operation soapAction="http://tempuri.org/c2f" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="f2c">
      <soap:operation soapAction="http://tempuri.org/f2c" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TemperatureConversionWebServiceSoap12" type="tns:TemperatureConversionWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="c2f">
      <soap12:operation soapAction="http://tempuri.org/c2f" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="f2c">
      <soap12:operation soapAction="http://tempuri.org/f2c" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemperatureConversionWebService">
    <wsdl:port name="TemperatureConversionWebServiceSoap" binding="tns:TemperatureConversionWebServiceSoap">
      <soap:address location="http://localhost:28059/TemperatureConversionWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TemperatureConversionWebServiceSoap12" binding="tns:TemperatureConversionWebServiceSoap12">
      <soap12:address location="http://localhost:28059/TemperatureConversionWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>