Assignment4/part2/GUI(TryIt)/Service References/transformservice/TransformXML1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="transform">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xsl1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transformResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>